<%- include('header'); -%>

<div class="container-fluid ">

    <div class=" Home">
      <h3>Home</h3>
      <p>dlfdsfksdjfldsjflsdjfldflsdfjdslfjdlfjsdlfdsffslfflfjlfsffffsdfdfkfjslkfjlfjsdlfdljfdljfeoirwerjwerenlernoriroqepwqpoe
      fdfsdfffkweeworeworiweoirwenvncvsndlkfsofisflkmsflsoifhajqpllk</p>
    </div>

    <div class="Home">

      <% for(var i =0; i < BG.length; i++){ %>
        <h3> <%=BT[i] %></h3>
        <p><%=BG[i].slice(0,99)+"..." %><a href= "/<%=BT[i] %>" >Read More</a></p>

      <%} %>
     





    </div>



    </div>
    
  
  
<%- include('footer'); -%>


